body{
    padding: 100px;

}
.submit_area{
    padding: 100px;
    box-shadow: 5px 5px 20px #818181;
    margin-top: 50px;
}
#transition_area{
    display: none;
}
.deposit{
    background-color: slateblue;
   
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0 20px;
    padding: 35px 22px;
    border-radius: 5px;
}